*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans HK', sans-serif;
}

html,
body{
	scroll-behavior: smooth;
}

body{
	background: 
	linear-gradient(
		rgba(118, 53, 158, 0.56),
		rgba(0,0,0,0.75)
		),
	url("../images/bg-about.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar{
	background: rgba(70, 66, 66, 0.82);
}

.nav-item{
	color: #FFFFFF;
	opacity: 100%;
	font-weight: bold;
}

.particles-js{
	background: linear-gradient( rgba(53,154,140,0.56), rgba(0,0,0,0.75) ), url(../images/bg-about-landing.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    text-align: center;
    position: relative;
}

#jumbotron-about{
	position: absolute;
	background: none;
}

#landing-about{
	color: #F2F2F2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: : 'Roboto', sans-serif;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
}

#go{
	border: solid rgb(70,66,66);
	border-radius: 100px;
	font-weight: bold;
	background-color: rgb(70,66,66);
	color: #FFFFFF;
	text-decoration: none;
}

#go:hover {
	border: solid #FFFFFF;
	color: rgb(70,66,66);
	background-color: #FFFFFF;
	transition: 0.6s;
}

#go:active{
	border:solid rgb(70,66,66);
	color: #FFFFFF;
	background-color: rgb(70,66,66);
}

img{
	width: 20%;
	border: 1px solid white;
	border-radius: 50%;
}

p{
	margin-top: 1rem;
	font-size: 1.25em;
}

#about-paragraph{
	background: rgba(39,24,41,0.50);
}

footer{
	background-color: rgba(70, 66, 66);
	margin-bottom: 0;
}

footer div div p{
	margin-bottom: 0;
}
#footer-stop{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
}

#footer-stop div a{
	color: #FFFFFF;
}

.icon{
	color: #FFFFFF;
}

@media only screen and (max-width: 768px){
	h2{
		font-size: 3em;
	}

	img{
	width: 70%;
	border: 1px solid white;
	border-radius: 50%;
}
}