*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans HK', sans-serif;
}

html,
body{
	scroll-behavior: smooth;
}

body{
	background: 
	linear-gradient(
		rgba(165,129,26,0.7),
		rgba(0,0,0,0.75)
		),
	url("../images/bg-gallery.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar{
	background: rgba(70, 66, 66, 0.82);
}

.nav-item{
	color: #FFFFFF;
	opacity: 100%;
	font-weight: bold;
}

.particles-js{
	background: linear-gradient( rgba(53,154,140,0.56), rgba(0,0,0,0.75) ), url(../images/bg-gallery-landing.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    text-align: center;
    position: relative;
}

#jumbotron-gallery{
	position: absolute;
	background: none;
}

#landing-gallery{
	color: #F2F2F2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: : 'Roboto', sans-serif;
}

#go{
	border: solid rgb(70,66,66);
	border-radius: 100px;
	font-weight: bold;
	background-color: rgb(70,66,66);
	color: #FFFFFF;
	text-decoration: none;
}

#go:hover {
	border: solid #FFFFFF;
	color: rgb(70,66,66);
	background-color: #FFFFFF;
	transition: 0.6s;
}

#go:active{
	border:solid rgb(70,66,66);
	color: #FFFFFF;
	background-color: rgb(70,66,66);
}

#carousel-home{
	height: 90vh;
	width: 100vh;
}

#carousel-home img{
	height: 90vh;
	width: 100vh;
	object-fit: contain;
}

.carousel .carousel-inner{
	height: 100%;
}

.card-body{
	padding: 1.3rem;
	text-align: center;
	background-color: rgba(154,152,152,0.62);
}

.card-title {
	font-size: 1rem;
}

.card-text{
	font-size: .75rem;
}

.yt-video1{
	width: 100%
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	margin-bottom: 2rem;
}

.yt-video1 iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}

footer{
	background-color: rgba(70, 66, 66);
	margin-bottom: 0;
}

footer div div p{
	margin-bottom: 0;
}
#footer-stop{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
}

#footer-stop div a{
	color: #FFFFFF;
}

.icon{
	color: #FFFFFF;
}

@media (min-width: 769px){
	.card{
		width:80%;
		margin-left: 3rem; 
	}

	.card img{
		object-fit: contain;
	}
}
