*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans HK', sans-serif;
}

html,
body{
	scroll-behavior: smooth;
}

.navbar{
	background: rgba(70, 66, 66, 0.82);
}

.nav-item{
	color: #FFFFFF;
	opacity: 100%;
	font-weight: bold;
}

.particles-js{
	background: linear-gradient( rgba(53,154,140,0.56), rgba(0,0,0,0.75) ), url(../images/bg-landing.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    text-align: center;
    position: relative;
}

#jumbotron-home{
	position: absolute;
	background: none;
}

#landing-home{
	color: #F2F2F2;
	font-size: 5rem;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: : 'Roboto', sans-serif;
}

#go{
	border: solid rgb(70,66,66);
	border-radius: 100px;
	font-weight: bold;
	background-color: rgb(70,66,66);
	color: #FFFFFF;
	text-decoration: none;
}

#go:hover {
	border: solid #FFFFFF;
	color: rgb(70,66,66);
	background-color: #FFFFFF;
	transition: 0.6s;
}

#go:active{
	border:solid rgb(70,66,66);
	color: #FFFFFF;
	background-color: rgb(70,66,66);
}

#home-page{
	height: content;
		background: 
	linear-gradient(
		rgba(76,31,95,0.42),
		rgba(0,0,0,0.75)
		),
	url("../images/bg-home.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
	overflow-wrap: 
}

#home-page h2{
	margin-top: 4vh;
	text-align: center;
	font-size: 5rem;

}

#home-page p{
	font-size: 1.5rem;
}

h3{
	clear: both;
}

.content figure{
	width: 33%;
	height: auto;
	padding: 1rem;
}

.polaroid{
	background: #FFFFFF;
	border-radius: 10px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	margin-bottom: 3rem;
}
 #gallink{
 	text-decoration: none;
 	color: white;
 }

figcaption{
	color: black;
	font-weight: bolder;
	font-size: 2em;
}

footer{
	background-color: rgba(70, 66, 66);
	margin-bottom: 0;
}

footer div div p{
	margin-bottom: 0;
}

#footer-stop{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
}

#footer-stop div a{
	color: #FFFFFF;
}

.icon{
	color: #FFFFFF;
}

@media only screen and (max-width: 768px){
	#landing-home{
		padding-top: 0vh;
	}

	#home-page{
		height: auto;	
	}

	.content figure{
	width: 100%;
	height: auto;
	padding: 1rem;
}
